.section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;

  .container {
    width: 85%;
    height: 90vh;
    margin-top: 13vh;
    display: flex;
    .left {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      height: 95%;


      .topcontent {
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 80%;
        align-items: center;

        .category {
          font-family: "BwGradual";
          font-size: 2.7vh;
        }

        .titulo {
          font-family: "BwGradual";
          font-size: 6vh;
          margin-bottom: 2vh;
          margin-top: 2vh;
          text-align: center;
          text-transform: uppercase;
          padding: 2vh 2vw;
        }

        .descripcion {
          font-size: 1.7vh;
          line-height: 110%;
          font-family: "Mori";
          text-align: center;
          max-width: 50vh;
        }
      }

      .iconcontainer {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .footer {
        display: flex;
        justify-content: space-between;
        height: 10%;
        width: 80%;
        align-items: flex-end;

        p {
          font-size: 1.8vh;
        }
        .left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          width: 80%;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 95%;

      .imagecontainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }

      img {
        width: 90%;
        object-fit: cover;
        margin-top: 0.5vh;
      }
    }
  }
}
