.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  padding-bottom: 4vh;

  p, h5 {
    text-align: center;
  }

  p {
    font-family: "BwGradual";
    font-size: 6vh;
    padding: 2vh 2vw;

    @media only screen and (max-width: 750px) {
      font-size: 4.8vh;
    }
  }

  h5 {
    font-size: 3.5vh;
    line-height: 110%;
    font-family: "MoriLight";
    padding: 0 2vw;

    @media only screen and (max-width: 750px) {
      font-size: 2.8vh;
    }
  }
}

.fixedBackground {
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; // Mantenerla detrás de la grilla
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;

  // Para pantallas pequeñas (mobile), mantener fondo fijo
  @media only screen and (max-width: 750px) {
    position: fixed;
    top: 30vh;
    height: 100vh;
    z-index: -1; // Fondo detrás de la grilla
  }

  // Para pantallas grandes (desktop), fondo normal y detrás de la grilla
  @media only screen and (min-width: 751px) {
    position: absolute; // Para que el fondo esté detrás de la grilla
    top: 40vh; // Ajusta el top para que la imagen esté más abajo
    height: 100%; // Ocupa el fondo completo detrás de la grilla
    background-size: cover;
  }
}

.gridContainer {
  width: 100%;
  padding: 5vh 0;
  position: relative; // Asegurar que la grilla esté delante de la imagen de fondo
  overflow-y: auto;

  &.desktopGridContainer {
    overflow-y: visible;
  }
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  padding: 0 5vw;
  position: relative; // Para que el contenido esté sobre el fondo
  z-index: 1; // Mantener la grilla sobre la imagen de fondo
  top: 10vh;
  @media only screen and (max-width: 750px) {
    grid-template-columns: 1fr;
  }

  .item {
    border: 0.2vh solid white;
    height: 30vh;
    display: flex;
    align-items: flex-start;
    color: white;
    position: relative;

    p {
      font-family: "BwGradual";
      font-size: 3vh;
      text-transform: uppercase;
    }

    .verMasButton {
      opacity: 0;
      transition: opacity 0.3s;
      position: absolute;
      bottom: 4vh;
      left: 4vh;
      padding: 1vh 2vh;
      background: #ffffff;
      border-radius: 3vh;
      color: #374f52;
      font-size: 2vh;

      @media only screen and (max-width: 750px) {
        opacity: 1;
        left: 2vh;
      }
    }

    &:hover .verMasButton {
      opacity: 1;
    }
  }
}