.container {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  margin-top: 10vh;
  z-index: 10;
}

.carouselcontainer {
  height: 90vh;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.carouselcontent {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
}

.swiper {
  width: 100vw;
  height: 90vh;
}

.mySwiper {
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slide {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10vh;

  .imagecontainervertical {
    width: 25vw;
    height: 60vh;



    img {
      width: 100%;
      height: auto;
      max-height: 60vh;
      max-width: 25vw;
      object-fit: cover !important;
    }
  }

  .imagecontainerhorizontal {
    width: 30vw;
    height: 40vh;

    img {
      width: auto;
      height: auto;
      max-width: 30vw;
      object-fit: cover !important;
    }
  }

  .imagecontainercuadrada {
    width: 35vw;
    height: 30vh;

    img {
      width: 100%;
      height: auto;
      // max-width: 25vw;
      object-fit: cover !important;
    }
  }
}
