.header {
  display: flex;
  flex-direction: row;
  z-index: 1;
  justify-content: center;
  width: auto;
  font-weight: 300;
  box-sizing: border-box;
  align-items: center;

  .logo {
    display: flex;
    cursor: pointer;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 3vh;

    p {
      margin: 0px;
      transition: all 0.8s cubic-bezier(0.76, 0, 0.24, 1); // Efecto más lento
      @media only screen and (max-width: 750px) {
        font-size: 2vh;
      }
    }

    .name {
      display: flex;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 1px;
      transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);

      p {
        position: relative;
        transition: transform 0.8s cubic-bezier(0.76, 0, 0.24, 1);

        &:nth-of-type(2) {
          padding-left: 0.3em;
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          position: absolute;
          top: 80px;
        }
      }
    }

    &:hover {
      opacity: 0.8;
      background-color: black;
      color: white;

      .name {
        .word1,
        .word2 {
          transform: translateY(-100%);
        }

        .word1after,
        .word2after {
          transform: translateY(-80px); /* Mismo movimiento para ambas */
        }

        .word2after {
          left: 38px; /* Ajusta esta línea para mover horizontalmente */

          transition: transform 0.8s cubic-bezier(0.76, 0, 0.24, 1);
        }
      }
    }
  }
}
