.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .motionDiv {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h3 {
    font-family: "BwGradualLight";
    font-size: 5vh;
    margin-bottom: 5vh;
  }

  .addresscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;

      h4 {
        font-family: "BwGradual";
        font-size: 1.8vh;
        margin-bottom: 1vh;
        color:rgb(88, 87, 87)
      }

      p{
        font-family: "Mori";
        font-size: 3vh;
      }

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2vh;
        margin-top: 2vh;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;

        p {
          margin-bottom: 0.5vh;
        }
      }
    }
  }
}
