.body {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @media only screen and (max-width: 750px) {
    margin-top: 2vh;
    max-width: 90vw;
  }

  a {
    color: #0d0d0d;
    text-decoration: none;
    font-family: "BwGradual";
    text-transform: uppercase;
  }

  p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: 6vh;
    padding-right: 30px;
    padding-top: 10px;
    @media only screen and (max-width: 750px) {
      font-size: 4.5vh;
      white-space: normal; 
      overflow-wrap: break-word; 
      word-break: break-word;
    }
  }
}
