.body{
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    a{
        color: #0D0D0D;
        text-decoration: none;
        font-family: 'BwGradual';
    }

    p{
        margin: 0px;
        display: flex;
        overflow: hidden;
        font-size: 8vh;
        padding-right: 30px;
        padding-top: 10px;
  
    }
}
