.imageContainer{
    display: none;
}

@media only screen and (min-width: 950px) {
   
    .imageContainer{
        display: block;
        width: 50vh;
        height: 60vh;
        margin-top: 10vh;
        position: relative;
        right: 5vw;

        img{
            object-fit: cover;
        }
    }
    
}