.imageContainer{
    display: none;
}

@media only screen and (min-width: 750px) {
   
    .imageContainer{
        display: block;
        width: 40vh;
        height: 60vh;
        margin-top: 10vh;
        position: relative;
        right: 10vw;


        img{
            object-fit: cover;
        }
    }
    
}