.section {
  height: 80vh;
  width: 100vw;
  display: flex;
  z-index: -1;
  background-color: #f4f0ea;
  .container {
    display: flex;
    width: 100%;
    height: auto;
  }

  .item {
    flex: 1;
    height: 80vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 100%;

    img {
      position: relative;
      min-width: 33vw;
      min-height: 80vh;
    }

    .textcontainer {
      position: absolute;
      max-height: 60vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        margin-bottom: 1rem;
        font-family: "BwGradualLight";
        font-size: 5vh;
        text-align: center;
        text-transform: uppercase;
        padding: 0px 7vw;
        color: white;
      }
    }

  }
}
