@font-face {
    font-family: 'BwGradual';
    src: url('/fonts/BwGradualDEMO-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sequel';
    src: url('/fonts/Sequel Sans OTF 2/Sequel Sans Light Obl Body.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Mori';
    src: url('/fonts/PP Mori/PPMori-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MoriLight';
    src: url('/fonts/PP Mori/PPMori-Extralight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }