.content {
    position: relative;
    visibility: hidden; /* Oculta el contenido mientras isLoading es true */
    opacity: 0;         /* Asegura que no sea visible */
  }
  
  .content.visible {
    visibility: visible; /* Hace que el contenido sea visible */
    opacity: 1;
    transition: none;    /* Sin animación: el contenido aparece instantáneamente */
  }