.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  // background-color: #85a5c4; /* Color inicial */
  overflow: hidden; /* Para evitar glitches visuales */
  background-color: #f0ebe3;

  img {
    position: absolute;
    top: 230px;
    width: auto;
    height: 20vh;
    z-index: 10000;

    @media screen and (max-width: 900px) {
      height: 20vh;
    }

    @media screen and (max-width: 425px) {
      height: 15vh;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #85a5c4; /* Color del fondo */
  z-index: 9999; /* Asegúrate de que esté encima */
}
