.section {
  display: flex;
  background-color: #36514b;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  color: white;
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    text-align: center;

    h5 {
      margin-bottom: 10vh;
      font-family: "Mori";
      font-size: 2.3vh;
      line-height: 120%;
    }

    .imagecontainer {
      height: 50vh;
      width: auto;

      img {
        height: 50vh;
        width: auto;
      }
    }
  }
}
