.navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  border-bottom: 0.2vh solid black;
  background-color: rgba(255, 252, 248, 0.95);

  pointer-events: auto;

  z-index: 25000 !important;
  .namecontainer {
    cursor: pointer !important;
 
    .name {
      font-family: "BwGradual";
      font-size: 3.5vh;
      padding-left: 2vh;
      margin-top: 1vh;

      @media only screen and (max-width: 950px) {
        font-size: 3vh;
      }
    }
  }
}
